/* Sidebar.css */

/* Layout Wrapper */
.layout-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: linear-gradient(to bottom right, #1f1f1f, #343434);
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom right, #1f1f1f, #343434);
  padding: 20px;
  color: #ffffff;
  border-right: 1px solid #4c4c4c;
}

.sidebar-title {
  /* color: #587b7f; */
  color: #eef0f2;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

/* Sidebar Navigation */
.sidebar-nav {
  gap: 10px;
}

.sidebar-link {
  color: #e0e0e0;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: block;
}

.sidebar-link:hover {
  background-color: #2e2e2e;
  color: #c6c7c4;
  text-decoration: none;
}

/* Main Content */
.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
}
